<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.hypcim"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Hypcim app</name>

    <description>
        Application for hypcim technology project 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Giuliano Cotrufo - Andrea Cavallaro - Dario Messina 
    </author>
	<platform name="android">
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	</config-file>
	<access origin="*" />
	</platform>
	
	

</widget>